@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans:400,700|Inconsolata:400');

body {
  font-family: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans';
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 5.652rem;
}

h2 {
  font-size: 3.997rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small {
  font-size: 0.707rem
}