@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans:700|Inconsolata:400');

body {
  font-family: 'Inconsolata';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans';
  font-weight: 400;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}