.row {
  margin: 15px;
  padding: 1rem 0;
}

.row-title {
  font-size: 35px;
  color: var(--text-50);
  margin: 20px 5px 5px 18px;
}

.row-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2rem;
  scrollbar-color: #6b6bfa transparent;
}

.movie-card {
  cursor: pointer;
  flex: 0 0 calc(18% - 12px);
  background-color: var(--primary-800);
  border-radius: 8px;
  padding: 0.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.08);
  background-color: var(--primary-700);
}

.movie-card p {
  color: var(--text-200);
}

img {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .row-scroll {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .movie-card img {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .movie-card img {
    width: 100px;
  }
}


@media screen and (max-width: 480px) {
  .row-title {
    margin-top: 60px;
    font-size: 25px;
  }
}