.row {
   margin: 15px;
   cursor: pointer;
}

.row-title{
    font-size: 1.1rem;
  margin: 0;
}

.row-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
}

.movie-card {
  flex: 0 0 calc(25% - 12px); /* 5 cards per row */
  background-color: #b6dd8a;
    border-radius: 15px;
}

.movie-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(31, 128, 224, 0.5);
}

p{
     font-size: 20px;
  color: #444;
}

img{
    object-fit: contain;
}